{% extends 'base.html.twig' %}

{% block title %}
    {{ titre }}
{% endblock %}

{% block body %}

    <p>Vous avez {{ boites | length }} boites :</p>

    <table class="table">
        <thead class="thead-light">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Emplacement</th>
            <th scope="col">Contenu</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for boite in boites %}
                <tr> 
                    <th scope="row">{{ boite.id }}</th>
                    <td>
                        <a href="{{ path('cuisine_boite_edit', { 'id': boite.id }) }}">
                            {% if boite.preparation %}
                                <i class="fas fa-square"></i>
                            {% else %}
                               <i class="far fa-square"></i>
                            {% endif %}
                            {{ boite.nom }}
                        </a>
                    </td>
                    <td>
                        {% if boite.stockage | length == 0 %}
                            ?
                        {% else %}
                            {{boite.stockage}}
                        {% endif %}
                    </td>
                    <td>
                        {% if boite.preparation %}
                            {{ boite.preparation.nom }}
                        {% else %}
                            vide
                        {% endif %}
                    </td>
                    <td>
                        {% if boite.preparation %}
                            <a href="{{ path('cuisine_boite_vider', { 'id': boite.id }) }}">
                                <i class="fas fa-cookie"></i>
                            </a>
                        {% else %}
                            <i class="fas fa-cookie-bite"></i>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}