{% extends 'base.html.twig' %}

{% block title %}
    {{ titre }}
{% endblock %}

{% block body %}

    <p>Vous avez {{ preparations | length }} préparations :</p>

    <table class="table">
        <thead class="thead-light">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Date</th>
            <th scope="col">Emplacement</th>
            <th scope="col">Recette</th>
            </tr>
        </thead>
        <tbody>
            {% for preparation in preparations %}
                {% if preparation.datedisparition is null %}
                    <tr> 
                        <th scope="row">{{ preparation.id }}</th>
                        <td>
                            <a href="{{ path('cuisine_preparation_edit', { 'id': preparation.id }) }}">
                                {{ preparation.nom }}
                            </a>
                        </td>
                        <td>
                            {{ preparation.datePreparation | localizeddate('none', 'none', null, null, 'EEEE d MMMM Y') | capitalize }}
                        </td>
                        <td>
                            {% if preparation.boites | length > 0 %}
                                {% for boite in preparation.boites %}
                                    {{ boite.nom }}
                                {% endfor %}
                            {% else %}
                                ?
                            {% endif %}
                        </td>
                        <td>
                            {% for recette in preparation.recettes %}
                                {{ recette.nom }}
                            {% endfor %}
                        </td>
                    </tr>
                {% else %}
                    <tr> 
                        <th scope="row">{{ preparation.id }}</th>
                        <td colspan="4">
                            {{ preparation.nom }} <small>( Mangé le {{ preparation.datedisparition | localizeddate('none', 'none', null, null, 'EEEE d MMMM Y') | capitalize }} )</small>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}