{% extends 'base.html.twig' %}

{% block title %}{{ titre }}{% endblock %}

{% form_theme form _self %}

{% block body %}

    <div class="container">
        <h1>{{ titre }}</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Enregistrer</button>

        {{ form_end(form) }}        
    </div>

{% endblock %}

{# GESTION DES ETAPES RECETTE ################################################################################################################################################}
{% block _recette_etapesRecette_widget %}
    
    {{ form_widget(form) }}

<input type="hidden" id="widgets-counter" value="0">

    <div class="form-group">
        <button type="button" id="add-etape" class="btn btn-primary">Ajouter une étape</button>
    </div>
{% endblock %}

{% block _recette_etapesRecette_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _recette_etapesRecette_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        <div class="card p-3">
            <div class="row">
                <div class="col-11">
                    {{ form_widget(form) }}
                </div>                
                <div class="col-1">
                    <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# GESTION DES INGREDIENTS ###################################################################################################################################################}
{% block _recette_ingredients_widget %}
    
    {{ form_widget(form) }}

<input type="hidden" id="widgets-ingredients-counter" value="0">

    <div class="form-group">
        <button type="button" id="add-ingredient" class="btn btn-primary">Ajouter un ingrédient</button>
    </div>
{% endblock %}

{% block _recette_ingredients_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _recette_ingredients_entry_widget %}
    <div class="form-group" id="block_{{id}}">
    <div class="card p-3">
        <div class="row">
            <div class="col-11">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form) }}
                    </div>
                </div>
            </div>
            <div class="col-1">
                <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
            </div>
        </div>
        </div>
    </div>
{% endblock %}

{# GESTION DES JAVASCRIPTS ###################################################################################################################################################}
{% block javascripts %}
    <script>
        {# etapes recette #}
        $('#add-etape').click(function(){
            // Je récupère le numéro des futurs champs à créer
            var index = +$('#widgets-counter').val();
            if(index==0)
            {
                index = $('#recette_etapesRecette div.form-group').length;
                $('#widgets-counter').val(index);
            }       
            // Je récupère le prototype des entrées
            const tmpl = $('#recette_etapesRecette').data('prototype').replace(/__name__/g, index);
            // J'injecte ce code au sein de la div
            $('#recette_etapesRecette').append(tmpl);
            $('#widgets-counter').val(index + 1);
            // Je gère le bouton supprimer
            handleDeleteButtons();
        });

        {# ingredients #}
        $('#add-ingredient').click(function(){
            // Je récupère le numéro des futurs champs à créer
            var index = +$('#widgets-ingredients-counter').val();
            if(index==0)
            {
                index = $('#recette_ingredients div.form-group').length;
                $('#widgets-ingredients-counter').val(index);
            }       
            // Je récupère le prototype des entrées
            const tmpl = $('#recette_ingredients').data('prototype').replace(/__name__/g, index);
            // J'injecte ce code au sein de la div
            $('#recette_ingredients').append(tmpl);
            $('#widgets-ingredients-counter').val(index + 1);
            // Je gère le bouton supprimer
            handleDeleteButtons();
        });


        function handleDeleteButtons() {
            $('button[data-action="delete"]').click(function(){
                const target = this.dataset.target;
                $(target).remove();
            });
        }

        handleDeleteButtons();
    </script>
{% endblock %}