{% extends 'base.html.twig' %}

{% block title %}
    {{ titre }}
{% endblock %}

{% block body %}

    <p>Vous avez {{ stockages | length }} stockages :</p>

    <p><a href="{{ path('cuisine_stockage_new') }}" class="dropdown-item"><i class="fas fa-plus"></i> Ajouter un stockage</a></p>

    <table class="table">
        <thead class="thead-light">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Parent</th>
            <th scope="col">Contenu</th>
            </tr>
        </thead>
        <tbody>
            {% for stockage in stockages %}
                <tr> 
                    <th scope="row">{{ stockage.id }}</th>
                    <td>
                        <a href="{{ path('cuisine_stockage_edit', { 'id': stockage.id }) }}">
                            {{ stockage.nom }}
                        </a>
                    </td>
                    <td>
                        {% if stockage.parent %}
                            <a href="{{ path('cuisine_stockage_edit', { 'id': stockage.parent.id }) }}">
                                {{ stockage.parent.nom }}
                            </a>
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td>
                        {{ stockage.boites | length }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}