{% extends 'base.html.twig' %}

{% block title %}
    {{ titre }}
{% endblock %}

{% block body %}

    <p>Vous avez {{ unites | length }} unités :</p>

    <table class="table">
        <thead class="thead-light">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            </tr>
        </thead>
        <tbody>
            {% for unite in unites %}
                <tr> 
                    <th scope="row">{{ unite.id }}</th>
                    <td>
                        <a href="{{ path('cuisine_unite_edit', { 'id': unite.id }) }}">
                            {{ unite.nom }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}